/* HomePage */

.exit_section {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
}
.control_button {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
}
.button_exit {
  width: 100px;
  margin-left: auto;
  padding: 5px;
  box-sizing: border-box;
}
main {
  display: flex;
  width: 100%;
  height: 80vh;
}
.user_profile {
  min-width: 220px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}
li {
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.user_contetn {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  /* flex-grow: 1; */
  overflow-y: auto;
}
.user_content_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; 
}
.user_content_table_caption {
  font-size: 16px;
  font-weight: bold;
}
.user_content_table_thead th:nth-child(1){
  width: 80px;
  border: 1px solid black;
}
.user_content_table_thead th:nth-child(2){
  width: 15%;
  border: 1px solid black;
}
.user_content_table_thead th:nth-child(3){
  width: 10%;
  border: 1px solid black;
}
.user_content_table_thead th:nth-child(4){
  width: 10%;
  border: 1px solid black;
}
.user_content_table_thead th:nth-child(5){
  /* width: 45%; */
  border: 1px solid black;
}
.user_content_table_thead th:nth-child(6){
  width: 180px;
  border: 1px solid black;
}
.download_section {
  position: relative;
  margin: 15px;
}
.view_block-download_section {
  position: absolute;
  width: 500px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 10;
}
.hidden-wiew_block-download_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  color: white;
  font-size: 18px;
}
.head_textarea-download_section {
  margin-top: 20px;
}
.textarea-download_section {
  display: block;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 25px;
  resize: none;
}
.buttons_section-view_block-download_section {
  display: flex;
  justify-content: flex-end;
}
.buttons-download_section {
  height: 30px;
  margin: 0 10px;
}
.loading-download_section {
  width: 100%;
  color: red;
  text-align: center;
}
.response-download_section {
  width: 100%;
  color: red;
  text-align: center;
  margin-top: 200px;
}
.buttom_error-download_section {
  position: absolute;
  width: 100px;
  height: 25px;
  bottom: 100px;
  left: calc(50% - 50px);
}

.error_page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.3);
  top: 0;
  left: 0;
}
.error_popup {
  position: absolute;
  width: 300px;
  height: 150px;
  text-align: center;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}

/* UserItemContent */

.user_item_div_picture {
  position: relative;
  width: 50px;
  height: 50px;
}
.user_item_picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.bnt_page {
  margin-left: 5px;
}
.user_item_content_table_tbody td:nth-child(1) {
  text-align: left;
  border: 1px solid black;
  cursor: pointer;
}
.user_item_content_table_tbody td:nth-child(2) {
  border: 1px solid black;
  padding: 0 5px;
  overflow-wrap: anywhere;
  cursor: pointer;
}
.user_item_content_table_tbody td:nth-child(3) {
  border: 1px solid black;
  padding: 0 5px;
}
.user_item_content_table_tbody td:nth-child(4) {
  border: 1px solid black;
  padding: 0 5px;
}
.user_item_content_table_tbody td:nth-child(5) {
  border: 1px solid black;
  padding: 0 5px;
}
.user_item_content_table_tbody td:nth-child(6) {
  text-align: right;
  border: 1px solid black;
  padding: 0 5px;
}
.user_comment_item_content {
  display: flex;
  height: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

/* UpdateItemContent */

.update_item_content {
  width: 850px;
}
.update_form {
  display: flex;
  margin-bottom: 30px;
}
.box_image_update_item_content {
  position: relative;
  width: 400px;
  height: 400px;
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid black;
}
.image_update_item_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.texts_box_update_item_content {
  display: block;
  height: 400px;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 30px;
}
.box_name_update_item_content {
  margin-bottom: 20px;
}
.name_update_item_content {
  min-width: 50%;
  width: 100%;
  font-size: 16px;
  padding: 5px;
}
.box_comment_update_item_content {
  box-sizing: border-box;
}
.comment_update_item_content {
  width: 100%;
  min-width: 50%;
  height: 280px;
  font-size: 16px;
  padding: 5px;
  resize: none
}
.box_buttons_update_content {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.buttons_update_item_content {
  position: relative;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 16px;
}
.button_save_update_item_content {
  background-color: red;
  color: white;
}

/* ViewItemContent */

.view_item_content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.box-view_item_content {
  width: 920px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}
.data-box-view_item_content {
  display: flex;
  margin-bottom: 30px;
}
.box_image-view_item_content {
  position: relative;
  width: 450px;
  height: 450px;
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid black;
}
.image-view_item_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.texts_box-view_item_content {
  max-width: 450px;
  box-sizing: border-box;
  padding: 10px 10px;
}
.text_comment-view_item_content {
  font-family: Arial, sans-serif;
  white-space: normal;
  overflow-wrap: anywhere;
}
.box_buttons_view_item_content {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.buttons_view_item_content {
  position: relative;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.box {
  margin-bottom: 15px;
}
.button_create-url_item_content {
  width: 200px;
  margin-right: auto;
}
