#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.error {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px 40px;
  border: 1px solid black;
  background-color: red;
  border-radius: 5px;
  top: 0;
}
.button_reg_error {
  margin-top: auto;
}
.no_response {
  display: flex;
  position: absolute;
  width: 300px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid yellow;
  background-color: yellow;
  font-size: 18px;
  color: red;
  top: 100px;
  left: calc(50% - 100px)
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
